.delete-task {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
/* .delete-task:hover {
  color: red;
} */
