.mind-task-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.mind-task-list .mind-task {
  background: var(--card);
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: var(--shadow);
  width: 100px;
}
.mind-task-list .mind-task:hover {
  opacity: 0.7;
  transition: var(--tran-04);
}
