.control-btns {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  gap: 12px;
  z-index: 10;
}
.control-btns button {
  background: var(--card);
  color: var(--second);
  font-size: 12px;
  border-radius: 6px;
  height: 32px;
  width: 75px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
}
.control-btns button:hover {
  opacity: 0.8;
}

.node {
  position: absolute;
  width: fit-content;
  padding: 6px 12px;
  font-size: 12px;
  background: var(--card);
  color: var(--second);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  box-shadow: var(--shadow);
}
.node:hover {
  color: var(--buy);
}
.node.selected {
  color: var(--buy);
}
.node .node-title {
  display: flex;
  align-items: center;
}
.edge-line {
  position: absolute;
  height: 2px;
  background: #999;
  transform-origin: 0 0;
}

.node .node-input {
  max-width: 100%;
  outline: none;
}

.node.collapsed .toggle-icon {
  display: flex !important;
}

.node .toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background: var(--second);
  color: var(--card);
  border-radius: 25px;
  user-select: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 10px;
  position: relative;
}

.node .toggle-icon:hover {
  opacity: 0.8;
}
.node .toggle-icon .child-count {
  font-size: 11px;
  font-weight: bold;
  color: var(--card);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.node:not(.collapsed):not(:hover) .toggle-icon {
  opacity: 0;
}
