.event-timer {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
  max-width: 440px;
  height: fit-content;
  position: relative;
}

.event-timer .content {
  background: var(--card);
  color: #eaecef;
  border-radius: 6px;
  padding: 24px;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}
.event-timer .content .left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.event-timer .content .left .row {
  display: flex;
  align-items: center;
  gap: 12px;
}
.event-timer .content .left .row .timer {
  display: flex;
  align-items: end;
  gap: 6px;
}
.event-timer .content .left .row .number {
  display: flex;
  align-items: end;
  font-size: 21px;
  color: #848e8d;
  line-height: 24px;
}
.event-timer .content .left .row .archive-btn {
  border: none;
  background: #1caf85;
  color: var(--text);
  padding: 6px 18px;
  border-radius: 6px;
  cursor: pointer;
}
.event-timer .content .left .row .archive-btn:hover {
  opacity: 0.8;
}
.event-timer .content .title {
  font-size: 21px;
}
.event-timer .content .row .status {
  color: #1caf85;
  font-size: 16px;
  font-weight: 300;
}
.event-timer .content .right {
  color: #848e8d;
}
.event-timer.hidden .content{
  display: none;
}