.shopping-carousel {
  position: relative;
  width: 100%; /* عرض کاروسل */
  max-width: 800px; /* مقدار دلخواه */
  overflow: hidden; /* جلوگیری از نمایش آیتم‌های اضافی */
}

.shopping-list {
  display: flex;
  gap: 16px;
  overflow: hidden;
  scroll-behavior: smooth;
  width: max-content; /* این باعث میشه آیتم‌ها کنار هم چیده بشن */
}

.shopping-list::-webkit-scrollbar {
  display: none; /* حذف اسکرول‌بار در کروم */
}

.shopping-item {
  width: 200px;
  min-width: 200px;
  flex-shrink: 0; /* از تغییر عرض آیتم‌ها جلوگیری می‌کنه */
  background: #f8f8f8;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.shopping-item img {
  width: 100%;
  height: 200px;
  border-radius: 6px 6px 0 0;
  object-fit: cover;
}

.detail {
  padding: 12px;
}

.title {
  font-size: 18px;
  color: var(--text);
}

.desc {
  font-size: 12px;
  text-align: justify;
}

.price {
  color: var(--primary);
  font-weight: bold;
}

/* دکمه‌های ناوبری */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}


.nav-btn.left {
  left: 0;
}
.nav-btn.right {
  right: 0;
}
