.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 6px;
  color: var(--second);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
.delete-btn:hover {
  background: #9b2424;
  color: #fff;
}
