.spinner-container {
  position: fixed;
  z-index: 50;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-container .spinner-content {
  width: 250px;
  background: var(--card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding-top: 12px;
  z-index: 51;
  border-radius: 6px;
}

.animated-dots circle {
  transform-origin: center;
  animation: jump 0.5s infinite ease-in-out;
}

.animated-dots circle:nth-child(1) {
  animation-delay: 0s;
}
.animated-dots circle:nth-child(2) {
  animation-delay: 0.1s;
}
.animated-dots circle:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes jump {
  0%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-12px);
  }
}
