.prog-field {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.prog-field > .top {
  display: flex;
  justify-content: space-between;
}
.prog-field > .top .prog-percent {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0098eb40;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-size: 9px;
  padding: 2px 6px;
  border-radius: 3px;
}
.prog-field .prog-bar {
  background: #bebebc;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  border: none;
}
.prog-field .prog-bar .prog-navar {
  width: 25%;
  background: var(--primary);
  height: 3px;
  border-radius: 50px;
  border: none;
}
