.section {
  padding: 24px;
  position: relative;
  left: 275px;
  width: calc(100% - 275px);
  min-height: 100vh;
  height: 100%;
  transition: var(--tran-05);
}
.sidebar.close ~ .section {
  left: 60px;
  width: calc(100% - 60px);
}
.detail-goal {
  color: var(--text);
  font-size: 32px;
  display: flex;
  gap: 24px;
  height: 100%;
}
.detail-goal > .left {
  min-width: 300px;
  max-width: 300px;
  min-height: 92vh;
}
.detail-goal > .left .left-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: var(--card);
  height: 100%;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}
.detail-goal > .left .left-content img {
  width: 100%;
  object-fit: contain;
  border-radius: 6px 6px 0 0;
  border-radius: 6px;
}
.detail-goal > .left .left-content .title {
  display: flex;
  gap: 12px;
  font-size: 18px;
}
.detail-goal > .left .left-content .title span {
  background: #0098eb40;
  border: 1px solid #0098eb;
  color: #0098eb;
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 12px;
}
.detail-goal > .left .left-content .desc {
  font-size: 14px;
  font-weight: 100;
  color: #636363;
  text-align: justify;
}
.detail-goal > .left .left-content .buttons {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}
.detail-goal > .left .left-content .buttons > .right {
  display: flex;
  align-items: center;
  gap: 6px;
}
.goal-card-progress {
  background: #bebebc;
  border-radius: 25px;
  width: 100%;
  height: 5px;
  position: relative;
}
.goal-card-progress span {
  background: #0098eb;
  border-radius: 25px;
  height: 100%;
  position: absolute;
}
.section .detail-goal > .right {
  width: 100%;
}
