.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  width: 225px;
}

@keyframes skeleton-loading {
  0% {
    background: #262626;
  }
  100% {
    background: #313131;
  }
}
.main-goal-loading-list {
  display: flex;
  gap: 12px;
}
.main-goal-loading {
  max-width: 225px;
  height: 215px;
  box-shadow: var(--shadow);
  border-radius: 6px;
}
