.shine {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 2px;
  border-radius: 18px;
  background: linear-gradient(135deg, #20202075, #46464675);
  box-shadow: var(--shadow);
  transition: box-shadow 0.4s ease;
  overflow: hidden;
  user-select: none;
}

.shine:hover {
  box-shadow: 0 0 30px #0098eb40;
}

/* .bg-image {
  position: absolute;
  inset: 0;
  background: url("/img/partner-1.jpg") center/cover no-repeat;
  opacity: 0.2;
  z-index: 0;
} */

.shine-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  z-index: 1;
  padding: 24px;
  border-radius: 16px;
  background: rgba(32, 32, 32, 0.05);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(14px);
  color: var(--text);
  font-family: sans-serif;
  text-align: center;
}

.shine-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--card);
  color: var(--primary);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.shine-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.shine-timer {
  font-size: 20px;
}

.shine-button {
  width: 100%;
  padding: 10px;
  background: rgba(32, 32, 32);
  color: var(--text);
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shine-button:hover {
  background: rgba(32, 32, 32, 0.6);
}
