.add-task-btn {
  background: #262626;
  color: inherit;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  border: none;
  padding: 8px 32px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
  width: 200px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-task-btn:hover {
  background: #202020;
}

.task-add {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.task-add select {
  background: none;
  outline: none;
  border: 1px solid #373737;
  border-radius: 8px;
  padding: 6px;
  color: var(--second);
  font-size: 16px;
}
.task-add select option,
.task-add select optgroup {
  background: #262626;
  padding: 6px;
  border-radius: 12px;
}
.task-add .input {
  width: 100%;
  background: none;
  border: 1px solid #373737;
  border-radius: 6px;
  padding: 6px;
  outline: none;
  color: var(--primary);
  font-weight: 700;
}
.task-add .desc-input {
  font-size: 16px;
  padding: 12px;
}
.task-add .grade-input {
  font-size: 12px;
  padding: 12px;
}
.task-add input::placeholder {
  color: #373737;
}
.task-add > .create-btn {
  background: #313131;
  border: none;
  border-radius: 6px;
  padding: 12px;
  width: 200px;
  font-size: 16px;
  color: #636363;
  cursor: pointer;
  transition: 0.3s;
}
.task-add > .create-btn:hover {
  opacity: 0.5;
}
