.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #262626;
  }
  100% {
    background-color: #313131;
  }
}
.task-loading-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}
.task-loading {
  width: 200px;
  height: 40px;
  border-radius: 3px;
  box-shadow: var(--shadow);
}
