.controls {
  display: flex;
  gap: 12px;
  padding: 24px 0;
}
.controls > button {
  background: var(--card);
  box-shadow: var(--shadow);
  color: var(--second);
  padding: 6px 24px;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--tran-04);
}
.controls > button:hover{
  opacity: 0.8;
}
.mind-map-container {
  position: relative;
  width: 100%;
  height: 88vh;
  max-height: 100vh;
  overflow: auto;
}

.task {
  position: absolute;
  width: 100px;
  height: 50px;
  background: var(--card);
  color: var(--second);
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
  transform: translate(-50%, -50%);
  box-shadow: var(--shadow);
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
}

.lines {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.task-done {
  color: var(--buy);
}

.grade-btn {
  background: var(--card);
  padding: 6px 12px;
  color: var(--second);
  border-radius: 6px;
  cursor: pointer;
  box-shadow: var(--shadow);
}
.grade-btn:hover {
  opacity: 0.8;
}
.task.selected {
  color: var(--buy);
}
