<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
  </head>
  <body style="display: flex; align-items: center; justify-content: center">
    <div class="email-content" style="padding: 40px 20px; width: 505px">
      <div
        style="
          border-style: solid;
          border-width: thin;
          border-color: #dadce0;
          border-radius: 8px;
          padding: 40px 20px;
        "
        class="x_mdv2rw"
        align="center"
      >
        <img
          style="margin-bottom: 16px"
          alt="Malek"
          height="24"
          width="100"
          src="cid:logo@mindmap"
        />
        <div
          style="
            font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial,
              sans-serif, serif, EmojiFont;
            border-bottom: thin solid rgb(218, 220, 224);
            color: rgba(255, 255, 255, 0.87) !important;
            line-height: 32px;
            padding-bottom: 24px;
            text-align: center;
            word-break: break-word;
          "
          data-ogsc="rgba(0, 0, 0, 0.87)"
        >
          <div
            style="font-size: 24px; color: rgba(255, 255, 255, 0.87) !important"
            data-ogsc=""
          >
            Verify your Malek account
          </div>
        </div>
        <div
          style="
            font-family: Roboto-Regular, Helvetica, Arial, sans-serif, serif,
              EmojiFont;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.87) !important;
            line-height: 20px;
            padding-top: 20px;
            text-align: left;
          "
          data-ogsc="rgba(0, 0, 0, 0.87)"
        >
          Malek received a request to use amrhkz@outlook.com as a recovery email
          for Malek Account karimzade.ah@gmail.com.<br /><br />Use this code to
          finish setting up this recovery email:<br />
          <div
            style="
              text-align: center;
              font-size: 36px;
              margin-top: 20px;
              line-height: 44px;
              color: rgba(255, 255, 255, 0.87) !important;
            "
            data-ogsc=""
          >
            {{CODE}}
          </div>
          <br />This code will expire in 5 minutes.<br /><br />If you don’t
          recognize Malek Mindmap, you can safely ignore this email.
        </div>
      </div>
      <div style="text-align: left">
        <div
          style="
            font-family: Roboto-Regular, Helvetica, Arial, sans-serif, serif,
              EmojiFont;
            color: rgba(255, 255, 255, 0.54) !important;
            font-size: 11px;
            line-height: 18px;
            padding-top: 12px;
            text-align: center;
          "
          data-ogsc="rgba(0, 0, 0, 0.54)"
        >
          <div data-ogsc="" style="color: rgba(255, 255, 255, 0.54) !important">
            You received this email to let you know about important changes to
            your Malek Account and services.
          </div>
          <div
            style="direction: ltr; color: rgba(255, 255, 255, 0.54) !important"
            data-ogsc=""
          >
            © 2025 Malek LLC, 1600 Amphitheatre Parkway, Mountain View, CA
            94043, USA
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
