.neo-menu {
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 48px;
}
.neo-menu .neo-content {
  background: var(--card);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  border-radius: 6px;
  color: var(--text);
}
.neo-menu .neo-content .back-button {
  background: var(--second);
  color: var(--text);
  border: none;
  border-radius: 3px;
  padding: 3px 12px;
  cursor: pointer;
  transition: var(--tran-03);
  width: max-content;
}
.neo-menu .neo-content .back-button:hover {
  opacity: 0.8;
}
.neo-menu .neo-content .menu-item {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 1250px;
}
.neo-menu .neo-content .menu-item .item {
  cursor: pointer;
  transition: var(--tran-03);
  border: none;
  border-radius: 3px;
  padding: 3px 12px;
  max-width: 400px;
}
.neo-menu .neo-content .menu-item .item:hover {
  background: var(--second);
}
.neo-menu .neo-content .menu-item .item p {
  text-align: justify;
}