.modal-toggle .goal-add-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #bebebc;
  border: 2px solid var(--border);
  background: none;
  box-shadow: var(--shadow);
  height: 210px;
  width: 225px;
  border-radius: 6px;
  cursor: pointer;
}
.modal-toggle .goal-add-title:hover {
  background: var(--border);
}
.modal-toggle .goal-add-title > span {
  font-size: 28px;
}
.modal-menu > form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal-menu form .check-box-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #636363;
  cursor: pointer;
  min-width: fit-content;
  padding-right: 12px;
}
.modal-menu form .check-box-field p {
  font-size: 18px;
}
.modal-menu .input {
  width: 100%;
  background: none;
  border: 1px solid #3a3a3a;
  border-radius: 8px;
  padding: 6px;
  outline: none;
  font-size: 36px;
  font-weight: 700;
  color: var(--primary);
}
.modal-menu .grade-input {
  font-size: 16px;
  padding: 12px;
}
.modal-menu input::placeholder {
  color: #636363;
}
.modal-menu form .create-btn {
  background: var(--second);
  color: var(--border)!important;
  border: none;
  border-radius: 6px;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}
.modal-menu .create-btn:hover {
  opacity: 0.5;
}
