.money-cell {
  display: flex;
  gap: 6px;
}
.money-cell .cell-content {
  background: var(--card);
  box-shadow: var(--shadow);
  width: 200px;
  height: 200px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  color: var(--text);
  cursor: pointer;
}
.money-cell .title {
  z-index: 2;
}
.money-cell .prog-num {
  z-index: 2;
}
.money-cell .prog {
  background: var(--primary);
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 6px;
  z-index: -2;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.money-cell .cell-edit {
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  background: var(--card);
  color: var(--text);
  height: fit-content;
  transition: all 0.5s ease;
  border-radius: 6px;
  transform: translateX(-36px);
  z-index: -1;
}
.money-cell:hover .cell-edit {
  transform: translateX(0px);
  z-index: 1;
}
.money-cell .cell-edit i {
  cursor: pointer;
  z-index: 1;
  padding: 6px;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.money-cell .cell-edit i:hover{
  opacity: 0.8;
  background: #313131;
}