.income {
  margin-bottom: 24px;
  display: flex;
  gap: 12px;
}
.income-toggle {
  background: var(--buy);
  box-shadow: var(--shadow);
  border: none;
  color: var(--text);
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 6px;
}
.income-toggle:hover {
  background: var(--buyHover);
}
.outcome-toggle {
  background: var(--sell);
  box-shadow: var(--shadow);
  border: none;
  color: var(--text);
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 6px;
}
.outcome-toggle:hover{
  background: var(--sellHover);
}
.popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.5;
  z-index: 4;
}
.income-menu {
  background: var(--card);
  color: var(--text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 8px;
  z-index: 4;
  width: 300px;
}
.income-menu form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.income-menu form .form-row {
  display: flex;
  justify-content: space-between;
}
.income-menu form .form-row .check-box-field {
  display: flex;
  align-items: center;
  background: none;
  color: #636363;
  width: fit-content;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
}
.income-menu form input {
  background: #313131;
  color: var(--primary);
  outline: none;
  border: none;
  padding: 12px;
  border-radius: 6px;
}
.income-menu form button {
  background: #313131;
  color: var(--text);
  border: none;
  border-radius: 6px;
  padding: 12px;
  cursor: pointer;
}
.income-menu form button:hover {
  opacity: 0.8;
}
