.bank-tab {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.bank-tab .bank-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bank-tab .bank-controls .filters {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  color: var(--second);
}
.bank-tab .bank-controls .filters .filter-item {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  background: var(--border);
  transition: var(--tran-04);
}
.bank-tab .bank-controls .filters .filter-item.active {
  background: var(--primary);
  color: var(--text);
}
.bank-tab .bank-controls .filters .filter-item:hover {
  background: var(--hover);
}
.bank-tab .bank-controls .new-bank {
  background: var(--border);
  color: var(--text);
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: var(--tran-04);
}
.bank-tab .bank-controls .new-bank:hover {
  background: var(--hover);
}
.bank-tab .bank-controls .new-bank-menu {
  background: var(--card);
  padding: 24px;
  border-radius: 6px;
  box-shadow: var(--shadow);
  width: 300px;
}
.bank-tab .bank-controls .new-bank-menu > form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.bank-tab .bank-controls .new-bank-menu > form > input {
  border: 1px solid var(--border);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 12px;
  outline: none;
}
.bank-tab .bank-controls .new-bank-menu > form > button {
  background: var(--border);
  height: 42px;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--tran-04);
}
.bank-tab .bank-controls .new-bank-menu > form > button:hover {
  opacity: 0.8;
}
.bank-tab .bank-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.bank-tab .bank-list .bank-item {
  background: var(--border);
  padding: 24px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.bank-tab .bank-list .bank-item > button {
  cursor: pointer;
  transition: var(--tran-03);
}
.bank-tab .bank-list .bank-item > button:hover {
  color: var(--sell);
}
