.progress-container {
  position: relative;
  width: 50px;
  height: 50px;
}

.circular-progress {
  transform: rotate(-180deg); /* برای شروع از بالای دایره */
}

.circle-bg {
  fill: none;
  stroke: #323a44; /* رنگ زمینه */
}

.circle {
  fill: none;
  stroke: var(--primary); /* رنگ پیشرفت */
  transition: stroke-dashoffset 0.35s;
  transform: rotate(0.25turn);
  transform-origin: center;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}
