.top-tasks {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.top-tasks .task-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: var(--card);
  box-shadow: var(--shadow);
  padding: 24px;
  border-radius: 12px;
  color: var(--text);
  max-height: fit-content;
  min-width: 225px;
  cursor: pointer;
}
.top-tasks .task-item .task-prog {
  background: var(--second);
  width: 100%;
  height: 4px;
  border-radius: 50px;
}
.top-tasks .task-item .task-prog .prog-bar {
  background: var(--primary);
  border-radius: 50px;
  height: 100%;
  width: 25%;
}
