.daily-card {
  background: var(--card);
  color: var(--second);
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 290px;
  max-width: 350px;
  box-shadow: var(--shadow);
  height: 100%;
}
.daily-card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.daily-card .card-header .date {
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
}
.daily-card .tasks-list,
.daily-card .done-task-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.daily-card .tasks-list .task-item,
.daily-card .done-task-list .task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  background: var(--border);
  padding: 6px 12px;
  border-radius: 6px;
}
.daily-card .toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
