.habit-tab {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.habit-tab .habit-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.habit-tab .habit-controls .filters {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  color: var(--second);
}
.habit-tab .habit-controls .filters .filter-item {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  background: var(--border);
  transition: var(--tran-04);
}
.habit-tab .habit-controls .filters .filter-item.active {
  background: var(--primary);
  color: var(--text);
}
.habit-tab .habit-controls .filters .filter-item:hover {
  background: var(--hover);
}
.habit-tab .habit-controls .new-habit {
  background: var(--border);
  color: var(--text);
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: var(--tran-04);
}
.habit-tab .habit-controls .new-habit:hover {
  background: var(--hover);
}
.habit-tab .habit-controls .new-habit-menu {
  width: 100%;
}
.habit-tab .habit-controls .new-habit-menu > form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.habit-tab .habit-controls .new-habit-menu > form > input {
  border: 1px solid var(--border);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 12px;
  outline: none;
}
.habit-tab .habit-controls .new-habit-menu > form > button {
  background: var(--border);
  height: 42px;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--tran-04);
}
.habit-tab .habit-controls .new-habit-menu > form > button:hover {
  opacity: 0.8;
}
.habit-tab .habit-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.habit-tab .habit-list .habit-item {
  background: var(--border);
  padding: 24px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.habit-tab .habit-list .habit-item > button {
  cursor: pointer;
  transition: var(--tran-03);
}
.habit-tab .habit-list .habit-item > button:hover {
  color: var(--sell);
}
.update-habit {
  display: flex;
  flex-direction: column;
}
.update-habit > form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.update-habit > form > input {
  padding: 6px 12px;
  border-radius: 3px;
  background: var(--border);
}
.update-habit > form > .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.update-habit > form > .buttons > button {
  width: 100%;
  background: var(--border);
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--tran-03);
}
.update-habit > form > .buttons > button:hover {
  opacity: 0.8;
}
.update-habit > form > .buttons > .delete-btn {
  background: var(--sell);
}
