.habit-list {
  background: var(--card);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: var(--shadow);
}
.habit-list .habit{
  display: flex;
  gap: 12px;
  color: var(--second);
  padding: 12px;
  border-radius: 6px;
  background: var(--border);
}