.back-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 6px;
  color: var(--second);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
.back-btn:hover{
  background: #313131;
  color: var(--text);
}
